body{
    background-color: white;
}

.mainform{

   background-color: white;
    border:3px solid black;
    border-right: 5x;
    padding:20px;
}

table {
       border-collapse: collapse;
}

table td {
    padding: 0 5px;
    border: 1px solid #000;
    text-align: center;
}